@import "/src/style/style.scss";

.header {
    @include position(fixed, 0, 0, 0);
    @include paddingA(2rem);
    z-index: 10;
    background-color: $color-white;

    &__link {
        text-align: right;

        .link__item {
            @include textStyle(1rem, $color-black, 500, none);
            @include marginX(1.5rem);

            &:hover {
                color: $color-green;
            }
        }
    }

    &__button {
        @include textStyle(1rem, $color-white, 500, none);
        @include paddingY(0.5rem);
        @include paddingX(0.9rem);
        margin-left: 1rem;
        border-radius: 0.2rem;
        background-color: $color-green;

        &:hover {
            color: $color-white;
        }
    }
}
