/* color */
$color-green: #009E7F;
$color-white:#fff;
$color-black:black;
$green-hover:rgb(1, 147, 118);
$color-sub:rgb(119, 121, 140);
$color-gray:#F7F7F7;
$admin-text: #161f6a;
$color-purple: #8a6afc;
