@import '/src/style/style.scss';

.main-content {
    position: relative;
    @include paddingA(2rem);
    width: 100%;
    height: 100vh;
    background-color:#F7F7F7 ;

    .main-notfound {
        margin: 0 auto;
    }
}
